<!DOCTYPE html>
<html>
<head>
    <title>AI Student Management System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">

    <div class="card shadow p-5">

        <h1 class="text-center text-primary">
            🎓 AI Student Management System
        </h1>

        <p class="text-center">
            Welcome to your BCA Final Year Project
        </p>

        <div class="text-center mt-4">

            <a href="/student_registration" class="btn btn-success">
                Register Student
            </a>

            <a href="/view_students" class="btn btn-primary">
                View Students
            </a>

            <a href="/admin_dashboard" class="btn btn-dark">
                Dashboard
            </a>
            <br><br>

<a href="/attendance" class="btn btn-warning">
    Attendance
</a>

<a href="/view_attendance" class="btn btn-info">
    View Attendance
</a>
<a href="/predict" class="btn btn-success">
    AI Prediction
</a>

        </div>

    </div>

</div>

</body>
</html>
            